<%- layout('layouts/account.ejs') %>

<div class="photo-gallery">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Templates</h2>
            <p class="text-center">Available templates that make different designs and colors for the style of the
                quote. </p>
        </div>
        <div class="row photos">
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="img/white.jpg"><img
                        class="img-fluid" src="img/white.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="img/blue.jpg"><img
                        class="img-fluid" src="img/blue.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="img/green.jpg"><img
                        class="img-fluid" src="img/green.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="img/red.jpg"><img
                        class="img-fluid" src="img/red.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="img/black.jpg"><img
                        class="img-fluid" src="img/black.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="img/orange.jpg"><img
                        class="img-fluid" src="img/orange.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="img/yellow.jpg"><img
                        class="img-fluid" src="img/yellow.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="img/purple.jpg"><img
                        class="img-fluid" src="img/purple.jpg"></a></div>
        </div>
    </div>
</div>