<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"">
    <meta http-equiv=" X-UA-Compatible" content="ie=edge">
    <title>MyCloudPrices</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/ionicons.min.css">
    <link rel="stylesheet" href="css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="css/Dark-NavBar.css">
    <link rel="stylesheet" href="css/Demo-Boxed.css">
    <link rel="stylesheet" href="css/Features-Boxed.css">
    <link rel="stylesheet" href="css/Footer-Dark.css">
    <link rel="stylesheet" href="css/Highlight-Blue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/Login-Form-Clean.css">
    <link rel="stylesheet" href="css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="css/Pricing-Form.css">
    <link rel="stylesheet" href="css/Recover-Form-Clean.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/Video-Responsive.css">

</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container">
                <a class="navbar-brand text-nowrap js-scroll-trigger" href="/" id="app"
                    style="font-size: 2.5em;">MyCloudPrices</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1" style="font-size: 20px;">
                    <ul class="nav navbar-nav mx-auto">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link js-scroll-trigger" href="#features"
                                style="font-size: 1.3em;">Features</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link js-scroll-trigger" href="#demo" style="font-size: 1.3em;">Demo</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link js-scroll-trigger" href="#contact" style="font-size: 1.3em;">Contact</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/signin" style="font-size: 1.3em;">
                                <i class="far fa-hand-point-right" style="padding-right: 10px;"></i>LogIn</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/signup" style="font-size: 1.3em;">
                                <i class="far fa-edit" style="padding-right: 10px;"></i>SignUp</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <%- body %>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#features">Updated prices</a></li>
                            <li><a href="#features">AWS Calculator</a></li>
                            <li><a href="#features">And much more...</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#features">Features</a></li>
                            <li><a href="#demo">Demo</a></li>
                            <li><a href="#contact">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>MyCloudPrices</h3>
                        <p>A powerful web application for the creation of real-time quotes from Amazon Web Services
                            cloud services.<br></p>
                    </div>
                    <div class="col item social">
                        <a href="https://es-la.facebook.com/JOSDINDANIEL" target="_blank">
                            <i class="icon ion-social-facebook"></i></a>
                        <a href="https://twitter.com/josdindaniel" target="_blank">
                            <i class="icon ion-social-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/josdindaniel" target="_blank">
                            <i class="icon ion-social-linkedin"></i></a>
                    </div>
                </div>
                <p class="copyright">MyCloudPrices © 2019</p>
            </div>
        </footer>
    </div>
    <script src="js/contact-api.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="js/scrolling-nav.js"></script>
    <script src="js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>